{% extends 'authentication/index.html' %}
{% block content %}


<div class="container">
    <h4>Are you sure?</h4>
    <p>Are you sure you want to delete the user "{{ user.u_name }}"?All of the following related items will be deleted:</p>

    <strong>Sumery</strong>

     <ul>
        <li>User: 1</li>
        <li>User-role relationship: 1 or more</li>
    </ul>
    <strong>Object</strong>

     <ul>
         <li>User <a href="{% url 'edit' user.id%}">user</a> </li>
         <ul>
            {% for obj in user.role.all %}
            <li>User-role relationship: {{obj}}</li>
            {% endfor %}
         </ul>
     </ul>
    
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="form-group row mb-0">
                <div class="col-md-10">
                    
                    <button type="submit" class="btn btn-danger" >Yes,I'm sure</button>
                    <a href="../../" class="btn btn-default">{{ 'No,take me back' }}</a>
                </div>
            </div>
    </form>
</div>      
{% endblock %}